.mapping-value-control-select {
	.components-custom-select-control__item {
		padding: 2px 4px;
	}
}

.mapping-value-control-select-section {
	cursor: default !important;
	font-weight: bold;
	text-decoration: underline;

	&:hover {
		background: #fff !important;
	}
}

.mapping-value-control-select-option {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	.admin-components-block-icon-box {
		width: auto;
	}
}
.mapping-value-control-select-option-label {
	margin-left: 8px;
}

.components-custom-select-control__menu
	.mapping-value-control-select-option-has_section {
	padding-left: 15px;
}
