.admin-components-blocks-list__item-wrapper {
	& {
		outline: none;
		user-select: none;
		overflow: visible;
	}

	&.is-dragging {
		.admin-components-blocks-list-item {
			box-shadow: 0 0 0 1pt #58b9b0;
		}
	}
	&:not(.is-dragging) {
		transform: none !important;
	}

	&:last-child {
		margin-bottom: 0;
	}
}
