@import "./sidebar/style.scss";
@import "./header/style.scss";
@import "./user-name-placeholder/style.scss";
@import "./user-image-placeholder/style.scss";

.quillforms-layout__main {
    display: flex;
}
.qf-page-component-wrapper {
	width: 100%;
}
.qf-page-component-wrapper.has-sidebar {
	padding: 50px;
	margin-left: 250px;
	background: #eee;
}
