@import "../components/sidebar/style.scss";
@import "../components/header/style.scss";
@import "../components/user-name-placeholder/style.scss";
@import "../components/user-image-placeholder/style.scss";

#screen-meta-links {
	display: none !important;
}
.quillforms-layout__main {
	-webkit-box-flex: 1;
	flex-grow: 1;
	overflow: auto;
	display: flex;
}
.qf-page-component-wrapper {
	width: 100%;
	height: 100%;
	overflow-y: auto;
}
.qf-page-component-wrapper.has-sidebar {
	margin-top: 55px;
	padding: 50px;
	margin-left: 250px;
}

.block-wrapper {
    position: relative;
}

.block-wrapper:hover .drop-indicator {
    height: 8px;
}

.drop-indicator {
    border-radius: 4px;
}