#qf-admin-root > svg {
	animation: iconPulse 0s 2s infinite;
}
@keyframes iconPulse {
	0% {
			transform: scaleX(1)
	}

	50% {
			transform: scale3d(1.1,1.1,1.1)
	}

	to {
			transform: scaleX(1)
	}
}
