@import "./layout/style.scss";
#qf-admin-root  #qf-admin-root__loader-container > svg {
	animation: iconPulse 1s 2s infinite;
}
@keyframes iconPulse {
	0% {
			transform: scaleX(1)
	}

	50% {
			transform: scale3d(1.1,1.1,1.1)
	}

	to {
			transform: scaleX(1)
	}
}

body.js.is-fullscreen-mode {
	// @include break-medium {
	// Reset the html.wp-topbar padding.
	// Because this uses negative margins, we have to compensate for the height.
	margin-top: -$admin-bar-height;
	height: calc(100% + #{ $admin-bar-height });
	overflow: hidden;

	#adminmenumain,
	#wpadminbar {
		display: none;
	}

	.wrap {
		margin: 0;
	}

	#wpcontent,
	#wpfooter {
		margin-left: 0;
		padding-left: 0;
	}

	div#wpbody-content {
		padding-bottom: 0;
	}
	#wpfooter {
		display: none;
	}
}
