.qf-builder-save-button {
    position: absolute;
    top: -43px;
    right: 150px;
}

#quillforms-layout-wrapper {
	& {
		position: relative;
		display: flex;
		flex-basis: auto;
		padding-left: 55px;
		max-height: calc(100vh - 55px);
		min-height: calc(100vh - 55px);
	}
}



