.admin-components-block-icon-box {
	& {
		display: flex;
		border-radius: 5px;
		align-items: center;
		justify-content: space-between;
		width: 56px;
		height: 28px;
		padding: 0 6px;
		font-size: 12px;
	}

	.admin-components-block-icon-box__order {
		color: #fff;
	}

	svg {
		width: 18px;
		height: 18px;
		color: #fff;
		fill: #fff;
	}
}
