.integration-setup__body {
	padding-left: 25px;
	padding-right: 25px;
}

.integration-setup__instructions {
	border: 1px solid #ccc;
	border-radius: 0.25rem;
	padding: 0.25rem 1rem;
	margin-bottom: 1rem;
}
