.question__InputField {
	& {
		margin-top: 15px;
		width: 100%;
		border: none;
		border-bottom: 1px solid;
		outline: none;
		font-size: 30px;
		padding-bottom: 8px;
		color: #333;
		transition: 0.2s border ease-in-out;
		background: transparent;
	}

	&::placeholder {
		opacity: 0.3;
	}

	&:focus,
	&.no-border {
		border-bottom: 1px solid transparent;
	}
}
.sf-err-msg {
	background: #bf4b4b;
	color: #fff;
	padding: 6px 12px;
	display: inline-block;
	border-radius: 5px;
}
