.quillforms-system-status-tab__body {
	h1 {
		margin-bottom: 0.5rem;
	}

	table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
		margin-bottom: 20px;
	}

	td,
	th {
		border: 1px solid #ddd;
		text-align: left;
		padding: 8px;
	}

	tbody {
		tr:nth-child( even ) {
			background-color: #eee;
		}

		tr td:first-child {
			width: 250px;
		}
	}

	.system-status-check {
		color: #28a745;
	}

	.system-status-times {
		color: #dc3545;
	}
}
