.admin-components-blocks-list-item {
	& {
		display: flex;
		padding: 10px 15px;
		align-items: center;
		justify-content: center;
		border-radius: 5px;
		width: 100%;
		outline: none;
	}

	&.disabled {
		opacity: 0.4 !important;
	}

	.admin-components-blocks-list-item__icon-wrapper {
		& {
			border-radius: 4px;
			margin-right: 5px;
		}

		.admin-components-blocks-list-item__icon {
			& {
				display: flex;
				width: 30px;
				justify-content: center;
				height: 30px;
				align-items: center;
				color: #1c274c;
				font-size: 16px;
				border-radius: 5px;
			}

			svg {
				width: 20px;
				height: 20px;
				fill: #1c274c;
			}
		}
	}

	.admin-components-blocks-list-item__block-name {
		display: inline-flex;
		align-items: center;
		width: 100%;
		height: 4px;
		padding: 5px;
	}
}
