@import "./components/drag-alert/style.scss";
@import "./components/drop-area/style.scss";
@import "./components/layout/style.scss";
@import "./components/blocks-structure/styles.scss";
@import './components/right-panel/style.scss';
@import "./components/no-blocks/style.scss";
@import "./components/panel/style.scss";
@import "./components/panels-bar/style.scss";
@import "./components/preview-area-wrapper/style.scss";
@import "./components/full-preview-layout/style.scss";
