.block-editor-delete-alert-modal {
	.components-modal__header {
		background: #fff;
		.components-modal__header-heading {
			color: #fa5d5d;
		}
		.components-button.has-icon svg {
			fill: #333;
		}
	}

}
