.block-editor-delete-alert-modal {
	.components-modal__header {
		background: #c5152b;
		.components-modal__header-heading {
			color: #fff;
		}
		.components-button.has-icon svg {
			fill: #fff;
		}
	}

}
