.quillforms-settings-page__heading {
	border-bottom: 1px solid #d8d6d6;
	padding-bottom: 10px !important;
	margin-bottom: 10px !important;
}

.quillforms-settings-page__body {
	max-width: 600px;
	background: #fff;
	padding: 30px 20px;
	margin-top: 20px;
	border-radius: 10px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;



}
