.renderer-components-block-description {
	line-height: 30px;
	color: #324157;
	opacity: 0.7;
	margin-bottom: 15px;
	@media (max-width: $break-small) {
		line-height: 28px;
	}
}
.renderer-components-block-description p {
	margin-top: 0;
	margin-bottom:0;
	font-size: 20px;
	@media (max-width: $break-small) {
		 font-size: 18px;
	}
}
.welcome-screen-block .renderer-components-block-description {
	text-align: center;
}
