.run-connection-modal-checkbox {
	position: relative;
	display: inline-block;
	outline: 0 !important;
	border: none !important;
	vertical-align: baseline;
	margin-right: 10px;
	font-style: normal;
	min-height: 17px;
	font-size: 1rem;
	line-height: 17px;
	min-width: 17px;

	input {
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0 !important;
		outline: 0;
		width: 17px;
		height: 17px;
		&:checked ~ label:before {
			background: #fff;
			border-color: rgba(34, 36, 38, 0.35);
		}

		&:checked ~ label svg {
			opacity: 1;
			color: rgba(0, 0, 0, 0.95);
		}
	}

	label {
		&:before {
			position: absolute;
			top: 0;
			left: 0;
			width: 17px;
			height: 17px;
			content: "";
			background: #fff;
			border-radius: 0.21428571rem;
			-webkit-transition: border 0.1s ease, opacity 0.1s ease,
				-webkit-transform 0.1s ease, -webkit-box-shadow 0.1s ease;
			transition: border 0.1s ease, opacity 0.1s ease,
				-webkit-transform 0.1s ease, -webkit-box-shadow 0.1s ease;
			transition: border 0.1s ease, opacity 0.1s ease, transform 0.1s ease,
				box-shadow 0.1s ease;
			transition: border 0.1s ease, opacity 0.1s ease, transform 0.1s ease,
				box-shadow 0.1s ease, -webkit-transform 0.1s ease,
				-webkit-box-shadow 0.1s ease;
			border: 1px solid #d4d4d5;
		}

		svg {
			position: absolute;
			top: 1px;
			left: 1px;
			width: 17px;
			height: 17px;
			text-align: center;
			opacity: 0;
			color: rgba(0, 0, 0, 0.87);
			-webkit-transition: border 0.1s ease, opacity 0.1s ease,
				-webkit-transform 0.1s ease, -webkit-box-shadow 0.1s ease;
			transition: border 0.1s ease, opacity 0.1s ease,
				-webkit-transform 0.1s ease, -webkit-box-shadow 0.1s ease;
			transition: border 0.1s ease, opacity 0.1s ease, transform 0.1s ease,
				box-shadow 0.1s ease;
			transition: border 0.1s ease, opacity 0.1s ease, transform 0.1s ease,
				box-shadow 0.1s ease, -webkit-transform 0.1s ease,
				-webkit-box-shadow 0.1s ease;
		}
	}
}
