.renderer-core-payment-modal {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9999;
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 30px;
	overflow-y: auto;

	.renderer-core-payment-modal__content {
		max-width: 800px;
		margin: auto;
		padding: 20px;
	}
	.renderer-components-radio-control__options-group {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.renderer-components-radio-control__option {
		position: relative;
		display: inline-flex;
		align-items: center;
		width: 260px;
		word-break: break-all;
		padding: 10px;
		border-radius: 5px;
		margin-bottom: 30px;
		border: 1px solid;
		cursor: pointer;

		input[type="radio"] {
			position: absolute;
			visibility: hidden;
		}

		label {
			position: relative;
			/* font-weight: 300; */
			font-size: 14px;
			margin: 4.5px 30px;
			/* height: 37px; */
			z-index: 9;
			display: flex;
			align-items: center;
			-webkit-transition: all 0.25s linear;
		}

		.check {
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			border: 3px solid;
			border-radius: 100%;
			height: 20px;
			width: 20px;
			z-index: 5;
			transition: border 0.25s linear;
			-webkit-transition: border 0.25s linear;
		}

		.check::before {
			content: "";
			border-radius: 100%;
			height: 7px;
			width: 7px;
			transition: background 0.25s linear;
			-webkit-transition: background 0.25s linear;
		}
	}
	.renderer-core-payment-modal-methods {
		text-align: center;
		margin: auto;
		max-width: 540px;
		flex-direction: column;
		display: flex;
	}
	.renderer-core-payment-modal-info {
		box-shadow: 0 7px 12px 0 rgba(0, 0, 0, 0.14);
		margin-bottom: 40px;

		.renderer-core-payment-order__item-row,
		.renderer-core-payment-modal-info_footer {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 15px;
		}
	}
}
