body.js.is-fullscreen-mode {

	overflow: hidden;
	// @include break-medium {
	// Reset the html.wp-topbar padding.
	// Because this uses negative margins, we have to compensate for the height.
	margin-top: -$admin-bar-height;
	height: calc(100% + #{ $admin-bar-height });

	#adminmenumain,
	#wpadminbar {
		display: none;
	}

	.wrap {
		margin: 0;
	}

	#wpcontent,
	#wpfooter {
		margin-left: 0;
		padding-left: 0;
	}

	div#wpbody-content {
		padding-bottom: 0;
	}
	#wpfooter {
		display: none;
	}
}
