.renderer-core-progress-bar {
	& {
		padding: 5px 8px;
		width: 220px;
		overflow: hidden;
		border-radius: 3px;
	}

	.renderer-core-progress-bar__track {
		position: relative;
		height: 5px;
		width: 100%;
		margin-top: 5px;
	}

	.renderer-core-progress-bar__fill {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		transition: width 0.3s;
		-webkit-transition: width 0.3s;
		-moz-transition: width 0.3s;
		-o-transition: width 0.3s;
	}
}
@media(max-width: 550px) {
	.renderer-core-progress-bar {
		width: 200px;
	}
}
@media(max-width: 400px) {
	.renderer-core-progress-bar {
		width: 160px
	}
}
