.renderer-core-button {
	display: inline-flex;
	align-items: center;
	margin-right: 10px;
	padding: 8px 22px;
	line-height: 1.5;
	border: none;
	border-radius: 5px;
	font-size: 20px;
	outline: none;
	cursor: pointer;
}
