.renderer-core-button {
	display: inline-flex;
    align-items: center;
	margin-right: 10px;
    padding: 9px 20px 9px 23px;
    line-height: 1.5;
    border: none;
    font-size: 20px;
    outline: none;
    cursor: pointer;

	svg {
		margin-left: 14px;
		width: 16px;
		height: 16px;
	}

	@media (max-width: $break-small) {
		font-size: 16px;
	}
}

html[dir="rtl"] .renderer-core-button {

 	svg {
		transform: rotate(180deg);
	}

	&:hover svg {
		transform: rotate(180deg) translateX( -3px );

	}
}
