.integration-connection {
	width: 100%;
	margin-top: 20px;
	border-radius: 8px;
	background: #fff;
	color: #262627;
	margin-bottom: 0.75rem;
	border: none;
	box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px;
	position: relative;
	padding: 24px 16px;

	.connection-delete {
		position: absolute;
		top: 12px;
		right: 16px;
		cursor: pointer;
		border: 1px solid #e14a50;
		padding: 5px 8px;
		display: inline-flex;
		border-radius: 5px;
		align-items: center;
		color: #e14a50;

		svg {
			margin-left: 7px;
		}
	}

	.connection-section {
		margin-top: 20px;

		.connection-section-label {
			display: block;
			font-weight: 500;
			margin-bottom: 6px;
		}
	}

	.connection-primary-control {

		.components-base-control__label,
		.components-custom-select-control__label {
			font-weight: 500;
		}
	}

	.components-base-control__label,
	.components-custom-select-control__label {
		margin-bottom: 6px;
	}

	.components-text-control__input {
		margin-top: 0;
	}

	.connection-conditions {
		.admin-components-toggle-control {
			display: inline-flex;
		}

		.conditions-instructions {
			margin-top: 5px;
			margin-bottom: 5px;
		}

		.condition-row-1 {
			margin-bottom: 5px;
		}
	}
}
