.quillforms-logs-tab__body {
	table {
		border-collapse: collapse;
		width: 100%;
	}

	td,
	th {
		border: 1px solid #ddd;
		text-align: left;
		padding: 8px;
	}

	tbody {
		tr:nth-child( even ) {
			background-color: #ddd;
		}

		tr:hover {
			cursor: pointer;
			background-color: #bbb;
		}
	}

	.log-emergency {
		color: #800080;
	}
	.log-alert {
		color: #800080;
	}
	.log-critical {
		color: #800080;
	}
	.log-error {
		color: #dc3545;
	}
	.log-warning {
		color: #ff8c00;
	}
	.log-notice {
		color: #007bff;
	}
	.log-info {
		color: #17a2b8;
	}
	.log-debug {
		color: #000;
	}
}
