.quillforms-logs-tab__body {
	table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
	}

	td,
	th {
		border: 1px solid #ddd;
		text-align: left;
		padding: 8px;
	}

	tbody {
		tr:nth-child( even ) {
			background-color: #ddd;
		}

		tr:hover {
			cursor: pointer;
			background-color: #bbb;
		}
	}
}
