.notifications-editor-notifciations-list__header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0 !important;
	text-align: right;

}
.notifications-editor-no-notifications-msg {
	background: #e5b5fd;
    font-weight: 500;
    color: #830c98;
	border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
