.renderer-components-block-description {
	font-size: 20px;
	line-height: 30px;
	color: #324157;
	opacity: 0.7;
	margin-bottom: 15px;
}
.welcome-screen-block .renderer-components-block-description {
	text-align: center;
}
