.quillforms-support-page__heading {
	border-bottom: 1px solid #d8d6d6;
	padding-bottom: 10px !important;
}
.quillforms-support-page__github-icon svg,
.quillforms-support-page__wordpress-icon svg {
	width: 50px;
}
.quillforms-support-page__via {
    display: flex;
    margin-top: 30px;
}
.quillforms-support-page__via .quillforms-support-page__via-github,
 .quillforms-support-page__via .quillforms-support-page__via-wordpress {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.quillforms-support-page__via .quillforms-support-page__via-wordpress  {
    margin-left: 50px
}


.quillforms-support-page__via a {
    text-align: center;
}
