.qf-admin-header {
	display: flex;
	position: fixed;
	z-index: 6;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 16px;
	background: #FFF;
	box-shadow: 0 4px 40px 0 rgba(87, 3, 3, 0.06);

	.qf-admin-header__right,
	.qf-admin-header__left,
	.qf-admin-header__dashboard-link {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 8px;
	}

	.qf-admin-header__dashboard-link {
		text-decoration: none;
		color: #B2328C;
		font-weight: 500;
		font-size: 18px;
		line-height: 28px;

		&:focus,
        &:focus-visible,
        &:active {
          outline: none !important;
          border: none !important;
          box-shadow: none !important;
        }
	}
}
