.qf-admin-header {
	display: flex;
	position: fixed;
	z-index: 6;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	justify-content: flex-end;
	align-items: center;
	padding: 16px;
	background: #fff;
	box-shadow: 0 4px 40px 0 rgba(87, 3, 3, 0.06);

	.qf-admin-header__right {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 8px;
	}
}
