.qf-admin-header {
	display: flex;
	position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
	justify-content: space-between;
	align-items:center;
	height: 55px;
	padding: 0 10px;
	background: #f5f5f5;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);

	.qf-admin-header__right, .qf-admin-header__left, .qf-admin-header__dashboard-link{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	.qf-admin-header__dashboard-link {
		text-decoration: none;
		color: #333;
		margin-left: 50px;

		svg {
			margin-right: 5px;
		}
	}

	.qf-admin-header__user-image {
		margin-left: 8px;
		img {
			width: 26px;
			height: 26px;
			border-radius: 50%;
		}
	}
}
