.renderer-components-default-thankyou-screen {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	font-size: 26px;
	padding: 30px;
	line-height: 1.5em;
	text-align: center;
	height: 100%;
	z-index: 0;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	transition: 0.8s opacity;

	&.active {
		visibility: visible;
		opacity: 1;
		z-index: 1;
	}

	.qf-thankyou-screen-block__content-wrapper {
		margin-right: auto;
		margin-left: auto;
		max-width: 700px;
	}
	@media (max-width: $break-small) {
		font-size: 22px;
	}
}
