.renderer-core-field-navigation {
    display: inline-flex;
	margin-left: 8px;
	> div {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		padding: 0;
		margin: 2px;
		width: 30px;
		border-radius: 5px;
		cursor: pointer;
		height: 30px;
		@media(max-width: 550px) {
			& {
				width: 25px;
				height: 25px
			}
			svg {
				width: 17px;
				height: 17px;
			}
		}
		svg {
			width: 20px;
			height: 20px;
		}
	}
	.renderer-core-field-navigation__up-icon.rotate {
		transform: rotate(-90deg)
	}
	.renderer-core-field-navigation__down-icon.rotate {
		transform: rotate(-90deg)
	}
}
