.quillforms-payments-page-settings-product-single {
	display: flex;
	align-items: center;
	flex-grow: 1;

	.admin-components-text-control {
		width: auto;
	}
}

.quillforms-payments-page-settings-product-single-name {
	width: 150px;
}

.quillforms-payments-page-settings-product-single-price {
	width: 75px;
}
