.quillforms-license-page__heading {
	border-bottom: 1px solid #d8d6d6;
	padding-bottom: 10px !important;
	margin-bottom: 10px !important;
}

.quillforms-license-page__body {
	max-width: 400px;
	background: #fff;
	padding: 30px 20px;
	margin-top: 20px;
	border-radius: 10px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

	table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;

		td,
		th {
			border: 1px solid #ddd;
			text-align: left;
			padding: 8px;
		}

		tr td:first-child {
			width: 200px;
		}
	}

	button {
		margin: 0.5rem 0.5rem 0.5rem 0rem ;
	}
}

.quillforms-license-valid {
	color: green;
}

.quillforms-license-invalid {
	color: red;
}
