.renderer-core-submit-btn__wrapper {

	.renderer-core-submission-screen__btn {
		margin-right: 10px;
		padding: 14px 25px;
		display: inline-flex;
		align-items: center;
		border: none;
		border-radius: 8px;
		background: #000;
		font-size: 20px;
		font-weight: bold;
		color: #fff;
		outline: none;
		cursor: pointer;
	}

}
