.builder-core-builder-panels-bar {
	& {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 20px;
		width: 70px;
		margin-left:10px;
		margin-right: 10px;
		background: #fff;
		border-radius: 10px;
		padding: 10px;
		box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
		border: 1px solid #e0e0e0;
		
		.builder-core-builder-panel-nav-item {

			& {
				text-align: center;
				height: 55px;
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: center;
				color: #000;
				cursor: pointer;

				// add-blocks icon styles removed (moved to blocks list footer button)
			}

			// .builder-core-builder-panel-nav-item__icon {
			// 	background: transparent;

			// 	svg {
			// 		fill: #334155 !important;
			// 	}

			// 	path {
			// 		fill: #334155 !important;
			// 		stroke: #334155 !important;
			// 	}

			// 	* {
			// 		stroke: #334155 !important;
			// 	}
			// }

			.builder-core-builder-panel-nav-item__icon {
				& {
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					align-items: center;
					border-radius: 8px;
					border: none;
					width: 40px;
					height: 40px;
				}

				svg {
					width: 24px;
					height: 25px;
					fill: #334155 !important;
				}

				
			}

			&.active .builder-core-builder-panel-nav-item__icon {
				background: #FFEEFB;

				svg {
					fill: #B2328C !important;
				}

				path {
					fill: #B2328C !important;
					stroke: #B2328C !important;
				}

				* {
					stroke: #B2328C !important;
				}
			}

		}
	}
}
