.renderer-components-block-title {
	margin-bottom: 15px;
	color: #333;
	font-size: 24px;
	line-height: 32px;
}
.welcome_screen__block .renderer-components-block-title {
	text-align: center;
}
.field__itemWrapper .renderer-components-block-title {
	margin-bottom: 8px;
}
