.theme-editor-theme-actions {
	.theme-editor-theme-actions__dropdown {
		button {
			height: 28px;
			transition: background 0.3s linear;

			> svg {
				color: #858789 !important;
			}
		}

		button:hover {
			background: #e3e3e3 !important;
		}

		.components-dropdown-menu__popover {
			.components-popover__content {
				border-radius: 7px;
			}
		}

		.components-menu-item__button {
			padding-left: 1rem;
		}

		.theme-editor-theme-actions__menu-group {
			.theme-editor-theme-actions__menu-item {
				font-size: 14px;
				margin-bottom: 5px;
			}

			.theme-editor-theme-actions__delete-theme {
				color: #f46262 !important;
			}
		}
	}
}
