@mixin edit-post__fade-in-animation($speed: 0.2s, $delay: 0s) {
	animation: edit-post__fade-in-animation $speed ease-out $delay;
	animation-fill-mode: forwards;
	@include reduce-motion("animation");
}


// Set up animation
@keyframes loading-fade {
	0% {
		opacity: 0.7;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.7;
	}
}
