// Stores a list of z-index values in a central location.  For clarity, when a
// specific value is needed, add a comment explaining why (what other rules the
// value is designed to work with).

$z-layers: (

	// Show notices below expanded editor bar
	// .edit-post-header { z-index: 30 }
	".components-notice-list": 29,

	// Above the block list, under the header.
	".block-editor-block-list__block-popover": 29,


	// Show snackbars above everything (similar to popovers)
	".components-snackbar-list": 1000000,

	// Show modal under the wp-admin menus and the popover
	".components-modal__screen-overlay": 100000,

	// Show popovers above wp-admin menus and submenus and sidebar:
	// #adminmenuwrap { z-index: 9990 }
	".components-popover": 1000000,



	// Show tooltips above NUX tips, wp-admin menus, submenus, and sidebar:
	".components-tooltip": 1000002,


	".rich-text-merge-tag__delete": 5
);

@function z-index( $key ) {
	@if map-has-key( $z-layers, $key ) {
		@return map-get( $z-layers, $key );
	}

	@error "Error: Specified z-index `#{$key}` does not exist in the mapping";
}
