.renderer-core-field-action {
	& {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		transform: translateY(10px);
		-webkit-transform: translateY(10px);
		transition: all linear 0.15s;
	}
	&, * {
		opacity: 0;
		visibility: hidden;
		z-index: -1
	}

	&.is-visible {
		transform: translateY(0px);
		&, * {
			opacity: 1;
			visibility: visible;
			z-index: 1;
		}

	}

}
