.quillforms-addons-page__heading {
	border-bottom: 1px solid #d8d6d6;
	padding-bottom: 10px !important;
	margin-bottom: 10px !important;
}

.quillforms-addons-page__body-addons {
	display: flex;
	flex-wrap: wrap;
}

.quillforms-addons-page_addon {
	border: 1px solid #edebeb;
	border-radius: 5px;
	margin: 15px;
	width: 260px;
	overflow: hidden;
}
.quillforms-addons-page_addon__heading {
    padding: 15px 10px;
    text-align: center;
    border-bottom: 1px solid #eee;
    background: linear-gradient( 45deg,#8b42e2,#7c25e5);
    color: #fff;
    font-size: 15px;
}
.quillforms-addons-page__body-addon-footer button {
    width: 100%;
    justify-content: center;
    background: linear-gradient(45deg,#0d8aff,#1585ef) !important;
}
.quillforms-addons-page__body-addon-footer .quillforms-addons-active {
    display: block;
    text-align: center
}
.quillforms-addons-page_addon-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}
.quillforms-addons-page_addon-icon img {
    width: 80px
}
.quillforms-addons-page__body-addon {
	display: flex;
	flex-direction: column;
	min-height: 150px;
	padding: 15px;

	h3 {
		margin: 0;
	}

	.quillforms-addons-page__body-addon-footer {
		margin-top: auto;
	}

	.quillforms-addons-active {
		color: green;
		font-weight: bold;
	}
}
