.quillforms-addons-page__heading {
	border-bottom: 1px solid #d8d6d6;
	padding-bottom: 10px !important;
	margin-bottom: 10px !important;
}

.quillforms-addons-page__body-addons {
	display: flex;
	flex-wrap: wrap;
}

.quillforms-addons-page_addon {
	background: #f1f1f1;
	border-radius: 5px;
	margin: 15px;
    width: 290px;
	overflow: hidden;
}
.quillforms-addons-page_addon__heading {
    padding: 16px 10px;
    text-align: center;
    background: linear-gradient(45deg,#645c6a,#4b4158);
    color: #fff;
    font-size: 15px;
}
.quillforms-addons-page__body-addon-footer button {
    width: 100%;
    justify-content: center;
	align-items: center;
	height: 33px;
	padding: 0;
    background: #1585ef !important;

	&:hover:not(:disabled) {
		background: #004b92 !important;
	}
}
.quillforms-addons-page__body-addon-footer .quillforms-addons-active {
    display: block;
    text-align: center
}
.quillforms-addons-page_addon-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}
.quillforms-addons-page_addon-icon img {
    width: 60px
}
.quillforms-addons-page__body-addon {
	display: flex;
	flex-direction: column;
	min-height: 187px;
	padding: 15px;

	h3 {
		margin: 0;
	}

	.quillforms-addons-page__body-addon-footer {
		margin-top: auto;
	}

	.quillforms-addons-active {
		color: green;
		font-weight: bold;
	}
}
