.theme-editor-component-add-new-theme {
	.theme-editor-theme-card {

		& {
			background: linear-gradient(135deg, rgb(171, 109, 202) 0%, rgb(41, 66, 186) 100%);
			color: #fff;
			transition: background 0.2s;
			cursor: pointer;
			box-shadow: none;
		}

		&:hover {
			background: linear-gradient(135deg, rgba(171, 109, 202, 0.9) 0%, rgba(41, 66, 186, 0.9) 100%);
		}

		svg {
			width: 30px;
			height: 30px;
			margin-bottom: 8px;
			fill: #fff;
		}


	}
}
