.theme-editor-component-add-new-theme {
	width: 100%;

	.theme-editor-theme-card {
		& {
			background: #fff;
			color: #B2328C;
			border: none;
			cursor: pointer;
			box-shadow: none;
			position: relative;
			width: 100%;
			border-radius: 16px;
			padding: 16px;
			font-size: 16px;
			font-weight: 500;
			line-height: 1.3;
		}

		&:hover {
			background: #fff;
		}

		&::before {
			content: '';
			position: absolute;
			inset: 0;
			border-radius: 9px;
			pointer-events: none;
			background:
				linear-gradient(to right, #B2328C 0 22px, transparent 22px 40px) top / 30px 1px repeat-x,
				linear-gradient(to right, #B2328C 0 22px, transparent 22px 40px) bottom / 30px 1px repeat-x,
				linear-gradient(to bottom, #B2328C 0 22px, transparent 22px 40px) left / 1px 28px repeat-y,
				linear-gradient(to bottom, #B2328C 0 22px, transparent 22px 40px) right / 1px 28px repeat-y;
		}

		svg {
			width: 24px;
			height: 24px;
			margin-bottom: 4px;
			fill: #B2328C;
		}
	}
}
