.renderer-core-form-contenet-wrapper {
	& {
		overflow: hidden;
		position: relative;
		height: 100%;
	}

	.renderer-core-form-content {
		position: relative;
		overflow: hidden;
		height: 100%;
		width: 100%;
	}

	.block__contentWrapper {
		padding: 50px 30px;
		overflow-x: hidden;
		overflow-y: scroll;
		word-break: break-word;
	}
}
