body, html {
	overflow: hidden;
}
.renderer-core-form-contenet-wrapper {
	& {
		background: rgb(252, 252, 252);
		overflow: hidden;
		position: relative;
		height: 100%;
	}

	.renderer-core-form-content {
		position: relative;
		height: 100%;
		width: 100%;
	}

	.block__contentWrapper {
		padding: 50px 30px;
		overflow-x: hidden;
		overflow-y: scroll;
		word-break: break-word;
	}

	.screen__footer {
		position: absolute;
		z-index: 10;
		bottom: 0;
		right: 0;
		left: 0;
		padding: 10px 20px;
	}
}
