.theme-editor-customize  {
	.components-panel__body {
		border: none;
		margin-bottom: 15px;
		box-shadow: 0 0 1px 0 rgba(135, 135, 135, 0.79);
		box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
	}
	.components-panel__body .components-panel__body-title, .components-panel__body .components-panel__body-title:hover {
		background: #fff !important;
	}

	.components-panel__body-toggle.components-button:focus:not(:disabled):not([aria-disabled=true]) {
		outline: none;
		outline-offset: 0;
	}
}
