.renderer-components-block-counter {
	& {
		position: absolute;
		right: 100%;
		margin-right: 16px;
		top: 0px;
		display: flex;
		align-items: center;
		font-size: 16px;
		line-height: 2em;
	}

	.renderer-components-block-counter__value {
		margin-right: 3px;
	}

	.renderer-components-block-counter__content {
		& {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
		}

		.renderer-components-block-counter__arrow-icon {
			font-size: 16px;
			width: 16px;
			stroke-width: 2;
		}
	}
}
