.quillforms-payments-page-block-item {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	.admin-components-block-icon-box {
		width: auto;
	}

	.quillforms-payments-page-block-item__label {
		margin-left: 8px;
	}
}
