.admin-components-control-label__new-feature {
	padding: 2px 5px;
	background: linear-gradient(45deg, #8c55e1, #e937ad);
	color: #fff;
	text-transform: uppercase;
	display: inline-block;
	border-radius: 5px;
	font-size: 10px;
	margin-left: 6px;
}
