.admin-components-control-label__new-feature {
	padding: 4px;
	background: #E2DFFF;
	color: #7962D7;
	display: inline-block;
	border-radius: 8px;
	font-size: 14px;
	font-weight: 500;
	margin-left: 6px;
}

.admin-components-control-label {
	max-width: 180px;
}