.admin-components-color-picker {

	.components-circular-option-picker {
		max-width: 250px;;
		.components-circular-option-picker__option-wrapper {
			& {
				margin-right: 6px !important;
				margin-left: 6px !important;
			}

			.components-circular-option-picker__option::after {
				width: auto;
				height: auto;
			}

			svg {
				fill: #000;
			}
		}

		.components-angle-picker-control__input-field {
			margin-top: 5px;
		}
	}
}
