.admin-components-text-control {
	width: 100%;
	input {
		position: relative;
		margin-top: 10px;
		margin-bottom: 10px;
		width: 100%;
		display: flex;
		align-items: center;
		height: 34px !important;
		padding: 0 8px 0 12px !important;
		border: 1px solid #e3e3e3 !important;
		border-radius: 5px !important;
		background: #fff;
		padding: 0;
		box-shadow: none !important;
		font-size: 13px !important;
	}
}
