.renderer-core-form-contenet-wrapper {
	& {
		overflow: hidden;
		position: relative;
		height: 100%;
	}

	.renderer-core-form-content {
		position: relative;
		overflow: hidden;
		height: 100%;
		width: 100%;
	}

	.block__contentWrapper {
		padding: 50px 30px;
		overflow-x: hidden;
		overflow-y: scroll;
		word-break: break-word;
	}
}
.renderer-core-form-brand-logo {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	margin: 0px;
	padding: 14px 16px 10px;
	box-sizing: border-box;
	background: transparent;
	pointer-events: none;
	z-index: 10000;
	opacity: 1;
}
.renderer-core-form-brand-logo img {
	max-height: 40px;
	max-width: 96px;
}
