.renderer-components-button {
	margin-right: 10px;
	padding: 7px 22px;
	border: none;
	border-radius: 5px;
	background: #000;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	outline: none;
	cursor: pointer;
}
