.logic-conditions__group {
	position: relative;
	border: 1px solid #ccc;
	border-radius: 7px;
	padding: 0 7px;

	.group-remove {
		position: absolute;
		top: -7.5px;
		right: -7.5px;
		width: 15px;
		height: 15px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		background: #b65454;
		cursor: pointer;

		svg {
			width: 100%;
			height: 100%;
			fill: #fff;
		}
	}
}

.logic-conditions__add-condition {
	margin-bottom: 10px;
}

.logic-conditions__or {
	margin: 5px 0;
	text-align: center;
}

.logic-conditions__add-group {
	margin-top: 10px;
	text-align: center;

	button {
		display: inline-block;
		width: 75px;
		text-align: center;
	}
}

.logic-conditions__condition {
	display: flex;
	align-items: center;
	border: 1px dashed #ccc;
	border-radius: 5px;
	margin: 10px 0;
	padding: 8px 5px;

	.condition-rows {
		flex-grow: 1;

		.condition-row-1 {
			display: flex;
			flex-wrap: wrap;

			.condition-var0 {
				flex-grow: 1;
			}

			.condition-op {
				min-width: 130px;
				margin-left: 8px;
			}
		}
	}

	.condition-remove {
		width: 15px;
		height: 15px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		background: #b65454;
		cursor: pointer;
		margin-left: 10px;

		svg {
			width: 100%;
			height: 100%;
			fill: #fff;
		}
	}
}


.logic-conditions-advanced-dropdown {
    position: relative;
	max-width: 250px;
}
.logic-conditions-advanced-dropdown .components-dropdown-menu{
    position: absolute;
    right: 0;
    top: 0;

	button {
		box-shadow: none !important;
		outline: none !important;
	}
}
.logic-conditions-advanced-dropdown input {
      appearance: none;
      -moz-appearance: textfield;

}

.logic-conditions-advanced-dropdown input[type="number"]::-webkit-inner-spin-button,
.logic-conditions-advanced-dropdown input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.logic-conditions-advanced-dropdown input:hover, 
.logic-conditions-advanced-dropdown__variable-label:hover {
	background: #f5f5f5;
}
.logic-conditions-advanced-dropdown__variable-label,
.logic-conditions-advanced-dropdown .admin-components-text-control	 input {
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	display: flex;
	align-items: center;
	height: 36px !important;
	padding: 0 8px 0 12px !important;
	border: 1px solid #e3e3e3 !important;
	border-radius: 5px !important;
	background: #fff;
	transition: background 0.2s ease-in-out;
	-webkit-transition: background 0.2s ease-in-out;
	-moz-transition: background 0.2s ease-in-out;
	padding: 0;
	box-shadow: none !important;
	font-size: 14px !important;
}