.block-editor-block-mover {

	& {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		align-content: center;
		user-select: none;
		margin: -0.5rem 0.5rem -0.5rem -0.5rem;
		padding: 0.5rem;
		line-height: 1.5;
		border-radius: 3px 0 0 3px;
		color: #000;
		outline: none;
	}
}
