.combobox-control-rich-text {
	display: flex;
	align-items: center;

	.combobox-control-rich-text-back {
		border: 1px solid #ddd;
	}

	.rich-text-control {
		flex-grow: 1;
		margin-top: 0;
		margin-bottom: 0;
	}
}
