.quillforms-payments-page-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    margin: auto;

}
.quillforms-payments-page-header svg {
    width: 300px;
    height: 300px;
}
.quillforms-payments-page-heading {
    flex: 1;
    margin-left: 50px;
}
.quillforms-payments-page-heading p:nth-child(1) {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 24px;
    margin-bottom:0

    /* line-break: anywhere; */
}
.quillforms-payments-page-heading p:nth-child(2) {
    font-size: 14px
}


.quillforms-payments-page-settings {
	max-width: 800px;
	margin: 10px auto 10px;
}

.quillforms-payments-page-settings-row {
	display: flex;
	margin-bottom: 10px;
}

.quillforms-payments-page-settings-row-label {
	width: 100px;
}

.quillforms-payments-page-settings-save {
	position: absolute;
    top: 15px;
    right: 150px;
}

.quillforms-payments-page-settings__general,
.quillforms-payments-page-settings__methods,
.quillforms-payments-page-settings__products{
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 7px 29px 0 rgba(100, 100, 111, 20%);
    margin-top: 40px;
    min-height: 250px;
}
.quillforms-payments-page-settings__general h3,
.quillforms-payments-page-settings__methods h3,
.quillforms-payments-page-settings__products h3{
	color: #6d78d8;
}
.quillforms-payments-page-settings__general .admin-components-base-control:last-child,
.quillforms-payments-page-settings__methods .admin-components-base-control:last-child,
.quillforms-payments-page-settings__products .admin-components-base-control:last-child {
    border: none
}
.quillforms-payments-page-settings__products {
	margin-bottom: 300px
}
.quillforms-payments-page-settings__products-hint {
    background: #ECEEFD;
    color: #3f3d3d;
    padding: 20px;
    border-radius: 10px
}
