.quillforms-payments-page-settings {
	max-width: 800px;
	margin: 10px auto 10px;
}

.quillforms-payments-page-settings-row {
	display: flex;
	margin-bottom: 10px;
}

.quillforms-payments-page-settings-row-label {
	width: 100px;
}

.quillforms-payments-page-settings-save {
	display: block;
	margin: 25px auto 0;
}
