.rich-text-merge-tag__node-wrapper {
	& {
		position: relative;
		padding: 1.5px 3px;
		display: inline-flex;
		align-items: center;
		vertical-align: middle;
		font-size: 12px;
		border: 1px solid;
		border-radius: 3px;
		margin: 0 2.5px;
	}

	span {
		z-index: 2;
	}

	.rich-text-merge-tag__background {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		opacity: 0.3;
		z-index: 1;
	}

	.rich-text-merge-tag__icon-box {
		& {
			width: 20px;
			height: 20px;
			margin-right: 5px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			color: inherit !important;
			fill: inherit !important;
		}

		svg {
			width: 18px;
			height: 18px;
			fill: inherit;
		}

	}

	.rich-text-merge-tag__delete {
		& {
			display: inline-flex;
			align-items: center;
			margin-left: 2px;
			cursor: pointer;
			border: none;
			box-shadow: none;
			background: transparent;
			color: inherit;
			z-index: z-index('.rich-text-merge-tag__delete');
		}

		svg {
			width: 14px;
			height: 14px;
			fill: inherit;
		}
	}
}
