.notifications-editor-notification-edit__footer	 {
	position: absolute;
	bottom: 0;
	background: #ececec;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	right: 0;
	left: 0;
	justify-content: space-between;

	.admin-components-button {
		width: 50%;
		padding: 20px !important;
		justify-content: center;
		align-items: center;
		border-radius: 0 !important;
	}
}
