.admin-components-font-picker {
	& {
		position: relative;
		width: 190px;
		z-index: 1111;
	}

	.admin-components-font-picker__select {

		& {
			position: relative;
			display: flex;
			flex-wrap: wrap;
			padding: 6px 14px;
			border: 1px solid #c5c5c5;
			background: #fff;
			border-radius: 5px;
			cursor: pointer;
			user-select: none;
		}

		&.hidden {
			visibility: hidden;
		}

		svg {
			position: absolute;
			right: 8px;
			top: 4px;
		}
	}

	.admin-components-font-picker__fonts-search-wrapper {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		border-radius: 5px;
		overflow: hidden;
		box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
	}

	.admin-components-font-picker__search {

		& {
			position: relative;
		}

		> svg {
			position: absolute;
			left: 5px;
			top: 5px;
		}

		.admin-components-font-picker__input {
			width: 100%;
			padding: 4px 10px 4px 35px;
			border: none;
			outline: none;
			border-bottom: 1px solid #eadada;
		}
	}
	.admin-components-font-picker__fonts-list {

		& {
			background: #fff;
		}

		.admin-components-font-picker__fonts-list-item {
			& {
				padding: 0 8px;
				line-height: 1em;
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				cursor: pointer;
			}

			&:hover,
			&.selected {
				background: #e3e3e3;
			}

			.admin-components-font-item__name {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

		}

	}
}
