.admin-components-form-admin-bar__wrapper {
	padding: 16px;

	.admin-components-form-admin-bar {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #ffffff;
		border-radius: 8px;
		padding-block: 16px;

		a {
			text-decoration: none;
			display: inline-flex;
			align-items: center;
			cursor: pointer;
			padding: 8px 12px;
			color: #334155;
			font-size: 16px;
			font-weight: 500;
			line-height: 20px;
			text-transform: none;
			border-radius: 8px;
			outline: none !important;
			box-shadow: none !important;

			&.selected {
				background: #ffeefb;
				color: #b2328c;
			}
		}

		.admin-components-form-admin-bar__nav-link {

			gap: 4px;

			svg {
				display: block;
				color: currentColor;
				flex-shrink: 0;
			}
		}

		.admin-components-form-admin-bar__home-section {
			position: absolute;
			left: 74px;
			display: flex;
			align-items: center;
			gap: 8px;
		}

		.admin-components-form-admin-bar__home-link {
			display: flex;
			align-items: center;
			text-decoration: none;
			background: #F2F4FC;
			padding: 8px;
			border-radius: 8px;
			margin: 0;

			svg {
				display: block;
			}
		}

		.admin-components-form-admin-bar__home-context {
			display: flex;
			align-items: center;
			gap: 8px;

			.admin-components-form-admin-bar__home-separator {
				display: inline-flex;
				align-items: center;
			}

			.admin-components-form-admin-bar__home-form-name {
				max-width: 220px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				color: #334155;
				font-size: 14px;
				font-weight: 500;
				line-height: 20px;
				text-transform: none;
			}
		}

		.admin-components-form-admin-bar__logo {
			position: absolute;
			left: 6px;
			width: 55px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-right: 1px solid #d8d8d8;
		}
	}
}
