.renderer-components-field-content {
	position: relative;
	width: 100%;
	max-width: 700px;
	margin-right: auto;
	margin-left: auto;

	&.is-shaking {
		-webkit-animation: isShaking 0.1s linear infinite;
		animation: isShaking 0.1s linear infinite;
	}
}

