.builder-core-drag-alert-modal {
	.components-modal__header {
		background:#fff;
		.components-modal__header-heading {
			color: #333;
		}
		.components-button.has-icon svg {
			fill: #333;
		}
	}

}
