.integration-setup__body {
	.components-text-control__input {
		margin-top: 0;
	}
}

.integration-setup__instructions {
	border: 1px solid #ccc;
	border-radius: 0.25rem;
	padding: 0.25rem 1rem;
	margin-bottom: 1rem;
}
