.renderer-components-block-label {
	margin-bottom: 15px;
	line-height: 31px;
	min-height: 40px;
	font-size: 24px;
	margin-top: 0;
	margin-bottom: 0;
	@media (max-width: $break-small) {
		font-size: 20px;
		line-height: 27px;
	}
}
