.block-editor-block-dragging__wrapper {
	overflow: visible;
	.block-editor-block-dragging {
		& {
			display: flex;
			flex-wrap: wrap;
			width: 300px;
			font-size: 13px;
			align-items: center;
			border-radius: 5px;
			box-shadow:
				0 5px 3px -3px rgba(0, 0, 0, 0.2),
				0 5px 8px 3px rgba(0, 0, 0, 0.14),
				0 1px 8px 1px rgba(0, 0, 0, 0.12);
			padding: 8px;
			background: #fff;
			transform: rotate(-10deg);
		}

		.block-editor-block-dragging__icon-box {
			& {
				width: 32px;
				height: 32px;
				display: inline-flex;
				justify-content: center;
				align-items: center;
				border-radius: 5px;
				margin-right: 8px;
			}

			svg {
				width: 18px;
				height: 18px;
				fill: #fff;
			}
		}
	}
}
