.notifications-editor-alert-message-wrapper {
	margin-top: 0;
	padding: 12px 14px;
	line-height: 26px;
	font-size: 16px;
	background: #FAEADF;
	font-weight: 600;
	color: #CB5301;
	border-radius: 12px;
	margin-top: 16px;
	border: 1px dashed #CB5301;

	&.has-error {
		background: #fff4ec;
		color: #d07b43;
		border: 1px dashed #f2a36b;
	}
}
