.notifications-editor-alert-message-wrapper {
	margin-top: 0;
	padding: 10px 12px;
	line-height: 1.4;
	font-size: 13px;
	background: #FAEADF;
	font-weight: 500;
	color: #CB5301;
	border-radius: 12px;
	margin-top: 16px;
	border: 1px dashed #CB5301;

	&.has-error {
		background: #fff4ec;
		color: #d07b43;
		border: 1px dashed #f2a36b;
	}
}
