.question__TextareaField {
	& {
		margin-top: 15px;
		width: 100%;
		border: none;
		border-bottom: 1px solid;
		border-radius: 0;
		box-shadow: none;
		padding-left: 0;
		padding-right:0;
		outline: none;
		font-size: 30px;
		padding-bottom: 8px;
		color: #333;
		transition: 0.2s border ease-in-out;
		background: transparent;
	}

	&::placeholder {
		opacity: 0.5;
	}

	&:focus,
	&.no-border {
		border: none !important;
		outline: none !important;
		box-shadow: none !important;
		border-bottom: 1px solid transparent !important;
	}
}

.question__instruction {
	margin-top: 8px;
}
