.admin-components-block-types-list {
	overflow-y: auto;
	display: flex;
	flex-wrap: wrap;
	> div {
		width: 33%;
	}
 	.admin-components-blocks-list__item-wrapper {
		& {
			outline: none;
			user-select: none;
			overflow: visible;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
	.admin-components-blocks-list-item__icon {
		width: 24px;
		height: 24px;
		svg {
			fill : #333 !important;
		}

		i {
			color: #333 !important;
		}
	}
}
