@import "./components/add-new-theme/style.scss";
@import "./components/color-picker/style.scss";
@import "./components/color-preview/style.scss";
@import "./components/combo-color-picker/style.scss";
@import "./components/customize/style.scss";
@import "./components/customize-footer/style.scss";
@import "./components/gradient-picker/style.scss";
@import "./components/theme-actions/style.scss";
@import "./components/theme-card/style.scss";
@import "./components/themes-list/style.scss";
@import "./components/themes-list-item/style.scss";
