@import "./components/add-new-theme/style.scss";
@import "./components/customize/style.scss";
@import "./components/customize-footer/style.scss";
@import "./components/theme-actions/style.scss";
@import "./components/theme-card/style.scss";
@import "./components/themes-list/style.scss";
@import "./components/themes-list-item/style.scss";
