.media-upload-btn,
.remove-media-btn {
	box-shadow: none !important;
	padding: 4px 9px !important;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	text-transform: capitalize !important;
	font-size: 12px !important;
	outline: none;
	user-select: none;
}
.media-upload-btn {
	background: #d3d3d3;
}
.remove-media-btn {
	background: #bf3939;
	color: #fff;
}
