.admin-components-choices-inserter__choices-wrapper {
	padding: 12px 0;
    border: 1px solid #d6d6d6;
    border-radius: 5px;


}

.admin-components-choices-inserter__choice-row {
	display: flex;
	align-items: center;
	padding: 0 12px;

	.admin-components-choices-inserter__choice-actions {
		display: flex;
		flex-direction: column;
		margin-left: 5px;


		> div {
			width: 15px;
			height: 15px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			color: #fff;
			cursor: pointer;
			svg {
				width: 15px;
				height: 15px;
			}
		}
		.admin-components-choices-inserter__choice-add {
			background: #5fd995;
			margin-bottom: 3px;
		}
		.admin-components-choices-inserter__choice-remove {
			background: #b65454
		}
	}
}
