.renderer-components-field-wrapper {
	&.is-animating {
		&,
		.renderer-components-field-wrapper__content-wrapper {
			overflow-y: auto;
			scrollbar-width: none; /* Firefox */
			-ms-overflow-style: none; /* Internet Explorer 10+ */
		}
		&::-webkit-scrollbar,
		.renderer-components-field-wrapper__content-wrapper::-webkit-scrollbar {
			width: 0px;
		}
	}
	& {
		position: absolute;
		height: 100%;
		right: 0;
		left: 0;
		top: 0;
		bottom: 0;
		opacity: 0;
		overflow-y: auto;
		outline: none !important;
		transition: transform 600ms cubic-bezier(0.7, 0, 0.3, 1) 0s, opacity 600ms ease 500ms;
		-webkit-transition: transform 600ms cubic-bezier(0.7, 0, 0.3, 1) 0s, opacity 600ms ease 500ms;
		-moz-transition: transform 600ms cubic-bezier(0.7, 0, 0.3, 1) 0s, opacity 600ms ease 500ms;
		transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: trasnslate3d(0, 0, 0);
		will-change: transform, opacity, z-index;

		// .renderer-components-question-header, .renderer-core-field-display-wrapper {
		// 	transition: transform 600ms ease 0s;
		// 	-webkit-transition: transform 600ms cubic-bezier(.7,0,.3,1) 0s;
		// 	-moz-transition: transform 600ms cubic-bezier(.7,0,.3,1) 0s;
		// 	transform: translate3d(0, 0, 0);
		// 	-webkit-transform: translate3d(0, 0, 0);
		// 	-moz-transform: trasnslate3d(0, 0, 0);
		// 	will-change: transform, z-index;
		// }
	}

	&.active {
		z-index: 1;
		opacity: 1;
		transition: transform 600ms cubic-bezier(0.7, 0, 0.3, 1) 0s, opacity 0s;
		-webkit-transition: transform 600ms cubic-bezier(0.7, 0, 0.3, 1) 0s, opacity 0s;
		-moz-transition: transform 600ms cubic-bezier(0.7, 0, 0.3, 1) 0s, opacity 0s;

		.renderer-components-field-wrapper__content.is-shaking {
			-webkit-animation: isShaking 0.1s linear infinite;
			animation: isShaking 0.1s linear infinite;
		}
	}

	&:not(.active) {
		pointer-events: none;
	}

	&.is-up.is-horizontal-animation {
		transform: translate3d(-100%, 0, 0);
		-webkit-transform: translate3d(-100%, 0, 0);
		-moz-transform: translate3d(-100%, 0, 0);
	}

	&.is-down.is-horizontal-animation {
		transform: translate3d(100%, 0, 0);
		-webkit-transform: translate3d(100%, 0, 0);
		-moz-transform: translate3d(100%, 0, 0);
	}

	&.is-up {
		transform: translate3d(0, -100%, 0);
		-webkit-transform: translate3d(0, -100%, 0);
		-moz-transform: translate3d(0, -100%, 0);
	}

	&.is-down {
		transform: translate3d(0, 100%, 0);
		-webkit-transform: translate3d(0, 100%, 0);
		-moz-transform: translate3d(0, 100%, 0);
	}

	section {
		position: relative;
		display: block;
		height: 100%;
		overflow: hidden;
	}

	.renderer-components-field-wrapper__content-wrapper {
		position: relative;
		width: 100%;
		height: 100%;
		display: flex;
		overflow-y: auto;
		flex-wrap: wrap;
		padding: 40px 70px;
		align-items: center;
		&:focus {
			box-shadow: none !important;
			outline: none !important;
		}
		@media (max-width: $break-small) {
			padding: 30px 45px;
		}

		@media (max-width: $break-small) {
			padding-bottom: 60px;
		}
	}
}
@keyframes isShaking {
	0% {
		transform: translateX(3px);
		-webkit-transform: translateX(3px);
	}
	50% {
		transform: translateX(-3px);
		-webkit-transform: translateX(-3px);
	}
	100% {
		transform: translateX(3px);
		-webkit-transform: translateX(3px);
	}
}

.renderer-core-fields-wrapper.is-moving-down .renderer-core-field-display-wrapper,
.renderer-core-fields-wrapper.is-moving-up .renderer-components-question-header {
	transition-delay: 0.1s;
	-webkit-transition-delay: 0.1s;
	-moz-transition-delay: 0.1s;
}
