.block-editor-block-edit__skeleton {
	border: 1px solid #e3e3e3;
	background: #fff;
	border-left: none;
	flex: 1;
	flex-wrap: wrap;
	position: relative;
	height: 100%;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;

	.renderer-core-block-scroller {
		scrollbar-width: none; /* For Firefox */
		&::-webkit-scrollbar {
			display: none; /* For Chrome, Safari, and Edge */
		}
	}

	.renderer-core-field-display-wrapper, .blocktype-group-block .renderer-core-field-footer{
		pointer-events: none;
		user-select: none;
		/* Optional: Remove from tab order */
		tabindex: -1;
	}

	// except group block
	.blocktype-group-block .renderer-core-field-display-wrapper {
		pointer-events: auto;
	}


	


	input, textarea {
		// make them disabled
		pointer-events: none;
		user-select: none;
		/* Optional: Remove from tab order */
		tabindex: -1;
	}

	.renderer-core-child-block {
		opacity: 0.3;
		transition: opacity 0.3s;

	}
	
	.renderer-core-child-block.renderer-core-child-block-editor-active {
		opacity: 1;
	}
}


.block-editor-block-edit__skeleton.is-child-active .blocktype-group-block .renderer-components-question-header {
    opacity: 0.3 !important
}