.block-editor-block-controls-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
	margin-bottom: 16px;
	.admin-components-select-control {
		width: 100%;
		.components-button {
			height: 52px;
		}
	}
	.block-controls-blocktype-select  {
		display: flex;
		align-items: center;
		font-size: 16px;
		color: #334155;
		gap: 8px;
	}
	.block-controls-blocktype-select .admin-components-block-icon-box {
		width: 28px
	}
}

