.admin-components-select-control {
	.components-custom-select-control__button.components-custom-select-control__button {
		display: inline-flex;
		padding: 16px;
	}
	.components-custom-select-control__button {
		padding: 8px 20px;
		background: #fff;
		border-radius: 5px;
		border: 1px solid #e3e3e3;
		font-size: 14px;
		width: 100%;
	}

	.components-custom-select-control__menu[aria-hidden="false"] {
		width: 100%;
		padding: 5px;
		border-radius: 4px;
		border: none;
		font-size: 14px;
		box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.1);
	}

	.components-custom-select-control__item {
		border-radius: 3px;
		cursor: pointer;
	}

	.components-custom-select-control__item.is-highlighted {
		background: #eee;
	}
}
