.quillforms-settings-payments-tab {

	&__search {
		width: 100%;
		margin-bottom: 20px;
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
		gap: 20px;
	}

	&__card {
		background: #fff;
		border: 1px solid #D9D9D9;
		border-radius: 16px;
		padding: 16px 24px;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		transition: box-shadow 0.2s;

		&:hover {
			box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
		}
	}

	&__card-header {
		display: flex;
		flex-direction: column;
		align-items: center;

		img,
		svg {
			width: 60px;
			height: 40px;
			object-fit: contain;
		}
	}

	// &__card-name {
	// 	font-size: 15px;
	// 	font-weight: 600;
	// 	color: #334155;
	// 	margin-top: 8px;
	// }

	&__card-desc {
		font-size: 16px;
		color: #334155;
		flex: 1;
		margin-top: 8px;
	}


	&__card-settings {
		width: 100%;
		text-align: left;
	}

	&__card-back {
		margin-top: 12px;
		background: none;
		border: none;
		color: #B2328C;
		cursor: pointer;
		font-size: 13px;
		padding: 0;

		&:hover {
			text-decoration: underline;
		}
	}
}
