.builder-components-choices-bulk-modal {
	.components-modal__header {
		background: #313e57;
		.components-modal__header-heading {
			color: #fff;
		}
		.components-button.has-icon svg {
			fill: #fff;
		}
	}

}
