.builder-components-recall-information {
	& {
		width: 274px;
		padding: 20px;
		max-height: 300px;
		overflow-y: scroll;
	}

	.builder-components-recall-information__heading,
	.builder-components-recall-information__no-blocks-heading {
		margin: 0 0 10px;
		font-size: 14px;
		font-weight: 500;
	}

	.builder-components-recall-information__heading,
	.builder-components-recall-information__no-blocks-content {
		font-size: 13px;
	}

	.builder-components-recall-information__list-item {
		& {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			padding: 10px 5px;
			position: relative;
			cursor: pointer;
		}

		.builder-components-recall-information__list-item-hidden-bg {
			position: absolute;
			content: "";
			left: -20px;
			bottom: 0;
			top: 0;
			right: -20px;
			opacity: 0.1;
			display: none;
		}

		&:hover .builder-components-recall-information__list-item-hidden-bg {
			display: block;
		}

		.builder-components-recall-informationــlist-item-title {
			display: inline-flex;
			align-items: center;
			flex: 1;
			margin-left: 8px;
			line-height: 1em;
		}
	}
}
