.renderer-core-fields-wrapper {
	& {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		z-index: -1;
		transition: all 0.4s;
	}

	&.active {
		opacity: 1;
		z-index: 1;
	}
}
